<%= render "header", allPages: @allPages %>



<%=raw @page.description %>


<!-- <div class="form-group">
  <label class="control-label col-sm-3" for="message">template_body <span class='require'>*</span></label>
  <div class="col-sm-8">
   cktext_area_tag 'template_body', @page.description, ckeditor: {toolbar: 'Full'} %>
  </div>
</div> -->